<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>portfolio</title>
</head>
<body>
<header>
    <h1><span class="rainbow">fast-made</span> portfolio</h1>
</header>
<main>
    <img src="../../media/photo.jpg">
    <div>
        <h2>Обо мне</h2>
        <p>Меня зовут Семён, являюсь бэкенд-разработчиком, живу в Новосибирске, ищу работу в данной отрасли,
        в свободное время реализую пет-проекты используя различные функции</p>
        <ui> Стек
            <li style="list-style-type: '🐍'">Python (Django, DRF, Celery)</li>
            <li style="list-style-type: '📚'">PostgreSQL, Redis</li>
            <li style="list-style-type: '🐧'">Linux (серверная реализация веб-приложений)</li>
            <li>Docker, Docker Compose</li>
            <li>Github/Gitlab</li>
            <li>HTML, CSS, JS - little bit</li>
        </ui>
        <ui> Проекты
            <li style="list-style-type: '🍝'"><a href="#">Сайт ресторана</a> - на сайте есть возможность бронирования столов
                по времени и дате, CRM для официантов, рассылка рекламы, подробности в README.</li>
            <li style="list-style-type: '⚽'"><a href="#">Футбольный фан-сайт</a> - сайт-игра "угадай футболиста",
            сделанный совместно с дизайнером Алексеем, реализовано постоянное обновление БД парсингом,
                подробности в README.</li>
        </ui>
        <ui> Контакты
            <li><a href="https://github.com/kipishbringer">github</a></li>
            <li><a href="https://www.t.me/smnkrgnv">telegram</a></li>
            <li>email: kipishbringer@gmail.com</li>
            <li>phone: +79965454909</li>
        </ui>

    </div>

</main>
</body>
</html>